<mat-toolbar class="mat-elevation-z6 navbar-container" color="primary">
  <mat-toolbar-row>
    <a class="aluprop-logo-container" mat-button [routerLink]="['/']" aria-label="AluProp">
      <img class="aluprop-logo"
          src="../assets/img/logo.png"
          alt="aluprop">
    </a>
    <app-search-bar></app-search-bar>
    <div *ngIf="!currentUser" class="login-buttons-and-flags">
      <a [routerLink]="['/register/']" class="sign-up-button" translate>navbar.signup</a>
      <span class="or" translate> navbar.or </span>
      <a [routerLink]="['/login/']" class="log-in-button" translate>navbar.login</a>
      <img class="flag" src="../assets/img/uk.svg" (click)="setLanguage('en')">
      <img class="flag" src="../assets/img/spain.svg" (click)="setLanguage('es')">
    </div>

    <div *ngIf="currentUser" class="login-buttons-and-flags">
      <span translate [translateParams]="{name: currentUser.name}" class="greeting" style="cursor: pointer;" [routerLink]="['/user/' + currentUser.id]">navbar.hi</span>
      <app-notifications-bar></app-notifications-bar>
      <a (click)="logout()" class="log-in-button" translate>navbar.logout</a>
      <a  *ngIf="currentUser.role === roles.Host" routerLink="/host/create" class="log-in-button" translate>navbar.publish-a-property</a>
      <img class="flag" src="../assets/img/uk.svg" (click)="setLanguage('en')">
      <img class="flag" src="../assets/img/spain.svg" (click)="setLanguage('es')">
    </div>
  </mat-toolbar-row>
</mat-toolbar>
