<div *ngIf="dataSource else empty"  class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell translate *matHeaderCellDef>interests-table.interests</th>
      <td mat-cell *matCellDef="let interest">{{interest.description}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/property/' + row.id]"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<ng-template #empty>
  <mat-card class="mat-elevation-z8">
    <mat-card-subtitle style="font-size: 12px;font-weight: 500;" translate>interests-table.interests</mat-card-subtitle>
    <mat-card-content>
      <p translate>interests-table.no-interests</p>
      <a [routerLink]="['/']"><span translate>interests-table.find-a-property</span></a>
    </mat-card-content>
  </mat-card>
</ng-template>
