:host {
  margin-top: 8%;
  display: flex;
  justify-content: center;
}

.create-property-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 70%;
  align-items: center;
}

.card-title{
  display: flex;
  justify-content: left;
  font-size: 2rem;
  margin-left: 32px;
  margin-top: 24px;
  margin-right: 16px;
}

h3 {
  color: grey;
  font-size: 20px;
  font-weight: 300;
}

::ng-deep .mat-form-field-wrapper {
  width: 100%;
}

form {
  width: 100%;
}

textarea{
  resize: none;
}

.column-container{
  display: flex;
  justify-content: space-between;

  mat-card {
    margin: 1rem;
    padding: 1rem;
    height: fit-content;
  }

  .prop-info {
    //width: 50%;
    justify-content: center;

    mat-form-field {
      display: flex;
      width: 100%;
    }

    .description {
      height: 100px;
    }

    .field-row {
      flex-direction: row;
      justify-content: space-between;

      mat-form-field {
        display: inline-block;
        width: 48.8%;
      }

      .property-type, .rules{
        margin-right: 0.5rem;
      }
    }
  }

  .prop-pictures {
    //width: 50%;

    form-field {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        margin-top: 4%;
        margin-bottom: 4%;
      }
    }

  }
}

.image-container {
  display: flex;
  flex-flow: row wrap;

  .preview-image {
    margin: 0.5rem;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    border-color: #3f51b5;
    width: 120px;
  }

  .close-button {
    position: absolute;
    cursor: pointer;
    background-color: white;
    border-radius: 30px;
  }
}

.pictures-error {
  margin-top: 5px;
}

.upload-button {
  position: relative;

  .upload-button-image {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 8px;
    border-radius: 8px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-uploader {
    margin: 0.5rem;
    width: 80px;
    height: 80px;
    opacity: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
  }
}

//button {
//  font-size: large;
//  margin: 1rem;
//  width: 48%;
//}
