  <mat-card class="create-property-form">
  <mat-card-header>
    <mat-card-title class="card-title" translate>create-property.publish-a-property</mat-card-title>
  </mat-card-header>
  <form [formGroup]="createPropertyForm">
    <div class="column-container">
      <div class="prop-info">
        <mat-form-field>
          <mat-label translate>create-property.name</mat-label>
          <input matInput type="text" formControlName="name"/>
          <mat-error><span translate>create-property.error-msg.name</span></mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label translate>create-property.description</mat-label>
          <textarea matInput type="text" formControlName="description"></textarea>
          <mat-error><span translate>create-property.error-msg.description</span></mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label translate>create-property.property-type</mat-label>
          <mat-select formControlName="propertyType">
              <mat-option value="0"><span translate>search-filters.house</span></mat-option>
              <mat-option value="1"><span translate>search-filters.apartment</span></mat-option>
              <mat-option value="2"><span translate>search-filters.loft</span></mat-option>
          </mat-select>
          <mat-error><span translate>create-property.error-msg.property-type</span></mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label translate>create-property.neighborhood</mat-label>
          <mat-select formControlName="neighborhood">
              <div *ngFor="let neighborhood of neighborhoods">
                  <mat-option value="neighborhood.id">{{ neighborhood.name }}</mat-option>
              </div>
          </mat-select>
          <mat-error><span translate>create-property.error-msg.neighborhood</span></mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label translate>create-property.privacy</mat-label>
          <mat-select formControlName="privacy">
              <mat-option value="0"><span translate>search-filters.individual</span></mat-option>
              <mat-option value="1"><span translate>search-filters.shared</span></mat-option>
          </mat-select>
          <mat-error><span translate>create-property.error-msg.privacy</span></mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label translate>create-property.capacity</mat-label>
          <input matInput type="text" formControlName="capacity"/>
          <mat-error><span translate>create-property.error-msg.capacity</span></mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label translate>create-property.rent-per-month</mat-label>
          <input matInput matInput type="number" formControlName="rent"/>
          <mat-error><span translate>create-property.error-msg.rent</span></mat-error>
        </mat-form-field>

        <mat-label translate>search-filters.rules</mat-label>
        <mat-form-field>
            <mat-label translate>search-filters.unspecified</mat-label>
            <mat-select formControlName="rules" multiple>
                <mat-option *ngFor="let rule of rules" [value]="rule.id">
                    {{rule.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-label translate>Services</mat-label>
        <mat-form-field>
          <mat-label translate>search-filters.unspecified</mat-label>
          <mat-select formControlName="services" multiple>
              <mat-option *ngFor="let service of services" [value]="service.id">
                  {{service.name}}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="prop-pictures">
        <form-field class="form-group">
          <mat-label translate>create-property.upload-up-to-4-pictures</mat-label>
          <input formControlName="pictures" type="file" multiple accept="image/x-png,image/jpeg" (change)="detectFiles($event)">
          <mat-error><span translate>create-property.error-msg.pictures</span></mat-error>
        </form-field>
      </div>
    </div>
    <button class="btn btn-md btn-primary text-upper" type="submit" (click)="publishProperty()" translate>create-property.publish-property</button>
  </form>
</mat-card>
