:host {
  display: block;
  margin: 10%;
}

table {
  width: 100%;
}

@keyframes hover_animation {
  to { background-color: whitesmoke; }
}

td:hover {
  cursor: pointer;
  animation: hover_animation 0.3s;
  animation-fill-mode:forwards;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.unread {
  background-color: #fffecc !important;
}
