:host {
  font-size: 15px;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 0.3rem 0.5rem;
  width: 330px;
}

.mat-list-base {
  padding-top: 0px;
}

.title {
  width: 100%;
  text-align: center;
  cursor: default;
}

.view-all {
  text-align: center;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: whitesmoke;
    outline: none;
  }
}

.divider {
  margin: 0 3% 0 3%;
}

@keyframes hover_animation {
  to { background-color: whitesmoke; }
}

mat-list-item:hover {
  cursor: pointer;
  animation: hover_animation 0.3s;
  animation-fill-mode:forwards;
}

.no-hover:hover{
  cursor: default;
  background-color: white !important;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}


::ng-deep .mat-list .mat-list-item .mat-line{
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 8px 4px;
}

::ng-deep  .mat-list .mat-list-item{
  height:initial!important;
}

.mat-line {
  line-height: initial;
}

.unread {
  background-color: #fffecc !important;
}

::ng-deep .mat-list-item-content {
  padding-top: 8px;
  padding-bottom: 8px;
}
