:host {
  height: 100%;
}

.card-img-top {
  object-fit: cover;
  // width: 380px;
  height: 250px;
}

.prop-title {
  font-weight: bold;
  font-size: 20px;
}

.prop-neighborhood {
  font-size: 16px;
  font-weight: 500;

}

.prop-price {
  font-weight: bold;
  font-size: 17px;
  margin: 0 16px;
}

.per-student-price {
  font-size: 12px;
  font-weight: initial;
  font-style: italic;
}

mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

mat-card-content {
  margin-bottom: 0;
  padding: 0.7rem;
  display: flex;
  flex-direction: column; 
  flex: 1;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  color: white;
  background-color: #007bff;
}