<mat-card [routerLink]="['/property/' + property.id]">
  <img *ngIf="property.image" mat-card-image class="card-img-top" [attr.src]="'data:image/JPEG;base64,' + property.image ">
  <mat-card-content class="card-body" style="display: flex;flex-direction: column; justify-content: space-between">
        <span class="prop-title">{{property.description}}</span>
        <span class="prop-neighborhood">{{property.neighborhood.name}}</span>
        <span class="prop-description">{{property.caption}}</span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><span translate>property-card.see-more</span></button>
    <span class="prop-price">${{property.price}}</span>
  </mat-card-actions>
</mat-card>