:host {
  height: 100%;
}
.card-img-top {
  object-fit: scale-down;
}

.prop-title {
  font-weight: bold;
  font-size: 20px;
}

.prop-neighborhood {
  font-size: 16px;
  font-weight: 500;

}

.prop-description {

}

.prop-price {
  font-weight: bold;
  font-size: 17px;
  margin: 0 16px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  color: white;
  background-color: #007bff;
}