<mat-card [routerLink]="['/property/' + property.id]">
  <img *ngIf="property.mainImage" mat-card-image class="card-img-top" [attr.src]="property.mainImage?.image ">
  <mat-card-content>
        <span class="prop-title">{{property.description}}</span>
        <span class="prop-neighborhood">{{property.neighbourhood.name}}</span>
        <span class="prop-description">{{property.caption}}</span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary"><span translate>property-card.see-more</span></button>
    <span class="prop-price">${{property.price}} <span class="per-student-price">(${{(property.price / property.capacity).toFixed(2)}}/<span translate>home.student</span>)</span></span>
  </mat-card-actions>
</mat-card>
