<mat-toolbar class="mat-elevation-z6 navbar-container" color="primary">
  <mat-toolbar-row>
    <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
      <img class="aluprop-logo"
          src="../assets/img/logo.png"
          alt="aluprop">
    </a>
    <div class="flex-spacer"></div>
    <div *ngIf="isUserLoggedIn(); else unsignedUser" class="user-logged-in">
      <div class="user-display">
        Hola, {{ username }}
      </div>
      <div (click)="logout()" class="logout-display">
        <a href="#" style="text-decoration: none;"> Logout </a>
      </div>
    </div>
    <ng-template #unsignedUser>
      LOGIN
    </ng-template>
  </mat-toolbar-row>
  <mat-toolbar-row class="docs-navbar docs-navbar-show-small" aria-label="Section Nav Bar">
      <a href="" mat-button class="docs-navbar-show-small docs-button">
        dont press
      </a>
  </mat-toolbar-row>
</mat-toolbar>