<mat-toolbar class="mat-elevation-z6 navbar-container" color="primary">
  <mat-toolbar-row>
    <a class="aluprop-logo-container" mat-button routerLink="/" aria-label="AluProp">
      <img class="aluprop-logo"
          src="../assets/img/logo.png"
          alt="aluprop">
    </a>
    <app-search-bar></app-search-bar>
    <div *ngIf="!username" class="login-buttons-and-flags">
      <a [routerLink]="['/register/']" class="sign-up-button" translate>navbar.signup</a>
      <span class="or" translate> navbar.or </span>
      <a [routerLink]="['/login/']" class="log-in-button" translate>navbar.login</a>
      <img class="flag" src="../assets/img/uk.svg" (click)="setLanguage('en')">
      <img class="flag" src="../assets/img/spain.svg" (click)="setLanguage('es')">
    </div>

    <div *ngIf="username" class="login-buttons-and-flags">
      <span translate [translateParams]="{name: username}" class="greeting">navbar.hi</span>
      <app-notifications-bar></app-notifications-bar>
      <a (click)="logout()" class="log-in-button" translate>navbar.logout</a>
      <img class="flag" src="../assets/img/uk.svg" (click)="setLanguage('en')">
      <img class="flag" src="../assets/img/spain.svg" (click)="setLanguage('es')">
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="navbar-show-small">
      <a href="" mat-button class="navbar-show-small button">
        dont press
      </a>
  </mat-toolbar-row>
</mat-toolbar>
