<div *ngIf="properties">
<mat-form-field appearance="fill">
  <mat-label translate>home.sort-by</mat-label>
  <mat-select (selectionChange)="onSortSelected($event)">
    <mat-option *ngFor="let option of sortOptions" [value]="option.value">
      <span translate>{{option.text}}</span>
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="searchParams" style="margin-bottom: 16px">
  <p translate style="font-size: 16px;font-weight: 500;">Search results for:</p>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip *ngIf="searchParams.description">"{{searchParams.description}}"</mat-chip>
    <mat-chip *ngIf="searchParams.propertyType && searchParams.propertyType == 0"><span><span translate>search-filters.property-type</span>: <span translate>search-filters.house</span></span></mat-chip>
    <mat-chip *ngIf="searchParams.propertyType && searchParams.propertyType == 1"><span><span translate>search-filters.property-type</span>: <span translate>search-filters.apartment</span></span></mat-chip>
    <mat-chip *ngIf="searchParams.propertyType && searchParams.propertyType == 2"><span><span translate>search-filters.property-type</span>: <span translate>search-filters.loft</span></span></mat-chip>
    <mat-chip *ngIf="searchParams.neighborhood"><span translate>search-filters.neighborhood</span>: {{getNeighborhoodName(+searchParams.neighborhood)}}</mat-chip>
    <mat-chip *ngIf="searchParams.privacy && searchParams.privacy == 0"><span><span translate>search-filters.privacy</span>: <span translate>search-filters.individual</span></span></mat-chip>
    <mat-chip *ngIf="searchParams.privacy && searchParams.privacy == 1"><span><span translate>search-filters.privacy</span>: <span translate>search-filters.shared</span></span></mat-chip>
    <mat-chip *ngIf="searchParams.maxCapacity"><span translate>search-filters.max-capacity</span>: {{searchParams.maxCapacity}}</mat-chip>
    <mat-chip *ngIf="searchParams.minPrice"><span translate>search-filters.min-rent</span>: ${{searchParams.minPrice}}</mat-chip>
    <mat-chip *ngIf="searchParams.maxPrice"><span translate>search-filters.max-rent</span>: ${{searchParams.maxPrice}}</mat-chip>
    <mat-chip *ngIf="searchParams.rules?.length > 0"><span translate>search-filters.rules</span>: {{getRuleNames(searchParams.rules)}}</mat-chip>
    <mat-chip *ngIf="searchParams.services?.length > 0"><span translate>search-filters.services</span>: {{getServiceNames(searchParams.services)}}</mat-chip>
  </mat-chip-list>
</div>
<div *ngIf="searchParams && properties?.length == 0" style="display: flex;justify-content: center;padding-top: 15%;padding-bottom: 15%">
  <h3 translate>home.no-search-results</h3>
</div>
<div *ngIf="!searchParams && properties?.length == 0" style="display: flex;justify-content: center;padding-top: 15%;padding-bottom: 15%">
  <h3 translate>home.no-properties</h3>
</div>
<div class="grid" *ngIf="properties?.length > 0">
  <app-property-item *ngFor="let property of properties" [property]="property" [routerLink]="['/propiedades/']"></app-property-item>
</div>
<mat-paginator style="margin-top: 32px;margin-bottom: 32px" [length]="totalItems"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 12, 25, 100]"
              (page)="onPageChange($event)">
</mat-paginator>
</div>
<div *ngIf="!properties" style="display: flex;justify-content: center;height: 100%">
  <mat-spinner style="align-self: center;margin-top:20%"></mat-spinner>
</div>

