<div *ngIf="property && currentUser" class="detailed-property-container">
  <div class="detailed-property-carousel mat-elevation-z8">
    <ngb-carousel>
      <ng-template ngbSlide>
<!--        *ngFor="let img of property.image"-->
        <div>
          <img class="d-block w-100 detailed-property-image" [attr.src]="'data:image/JPEG;base64,' + property.image.image ">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div>
          <img class=" d-block w-100 detailed-property-image" src="http://pawserver.it.itba.edu.ar/paw-2019a-5/images//50">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div >
          <img class="d-block w-100 detailed-property-image" src="http://pawserver.it.itba.edu.ar/paw-2019a-5/images//49">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="detailed-property-cards-container">
    <mat-card style="width: 72%" class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title style="margin-bottom: 16px;">{{property.description}}<div translate *ngIf="property.availability == 'RENTED'">detailed-property.inactive</div></mat-card-title>
        <mat-card-subtitle translate>
          <span *ngIf="property.propertyType == 'APARTMENT'" translate>detailed-property.apartment</span>
          <span *ngIf="property.propertyType == 'LOFT'" translate>detailed-property.loft</span>
          <span *ngIf="property.propertyType == 'HOUSE'" translate>detailed-property.house</span>{{property.neighbourhood.name}}</mat-card-subtitle>
        <mat-card-subtitle>{{property.capacity}} <span translate>detailed-property.guests</span><span translate *ngIf="property.privacyLevel else individual">detailed-property.shared</span><ng-template #individual><span translate>detailed-property.individual</span></ng-template></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group class="property-atributes">
          <mat-tab label="Description"><mat-list role="list">
            <mat-list-item class="description-item" role="listitem">{{property.caption}}</mat-list-item>
          </mat-list>
          </mat-tab>
          <mat-tab label="Rules"><mat-list role="list">
            <div *ngFor="let rule of property.rules">
              <mat-list-item role="listitem">{{rule.name}}</mat-list-item>
            </div>
          </mat-list>
          </mat-tab>
          <mat-tab label="Services"><mat-list role="list">
            <div *ngFor="let service of property.services">
              <mat-list-item role="listitem">{{service.name}}</mat-list-item>
            </div>
          </mat-list>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
    <mat-card style="width: 25%;height: fit-content;" class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>
          <span>${{property.price}} </span>
          <span translate>detailed-property.month</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="margin-bottom: 2px">
        <div *ngIf="property.availability == 'RENTED' && currentUser?.id != property.owner.id" translate>
          detailed-property.property-is-inactive
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div *ngIf="currentUser?.role == 'ROLE_HOST' && currentUser?.id == property.owner.id" translate>
          <button mat-raised-button color="primary" (click)="openDialogInterestedUsers()"><span translate>detailed-property.interested-users</span></button>
          <button *ngIf="property.availability == 'AVAILABLE'" mat-raised-button color="accent"><span translate>detailed-property.pause-property</span></button>
          <button *ngIf="property.availability == 'RENTED'" mat-raised-button color="accent"><span translate>detailed-property.activate-property</span></button>
          <button mat-raised-button color="warn"><span translate>detailed-property.delete-property</span></button>
        </div>
        <div *ngIf="currentUser?.role == 'ROLE_HOST'">
        </div>
        <div *ngIf="currentUser?.role == 'ROLE_GUEST' && currentUserIsInterested == true">
          <button mat-raised-button color="primary" (click)="openDialogCreateProposal()"><span translate>detailed-property.create-proposal</span></button>
          <button *ngIf="property.availability == 'AVAILABLE'" mat-raised-button color="accent"><span translate>detailed-property.not-interested</span></button>
        </div>
        <div *ngIf="currentUser?.role == 'ROLE_GUEST' && currentUserIsInterested == false">
          <button mat-raised-button style="width: 100%;" color="primary"><span translate>detailed-property.interested</span></button>
        </div>
        <div *ngIf="loggedInUser == false">
          <p><span translate style="color: firebrick;">detailed-property.must-be-logged-in</span></p>
          <button mat-raised-button disabled style="width: 100%;"><span translate>detailed-property.interested</span></button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>



