  <div class="register-page">
    <mat-card class="mat-elevation-z8">
      <mat-card-title class="card-title title" translate>sign-up.sign-up</mat-card-title>
      <mat-card-content>
      <form [formGroup]="signUpForm">
      <mat-card class="form-container prop-info mat-elevation-z0">
        <mat-form-field class="form-element">
          <mat-label translate>sign-up.email</mat-label>
          <input matInput type="email" formControlName="email"/>
          <mat-error *ngIf="!repeatedEmail"><span translate>sign-up.invalid-email-error</span></mat-error>
          <mat-error *ngIf="repeatedEmail"><span translate>sign-up.repeated-email-error</span></mat-error>
        </mat-form-field>

        <mat-form-field class="form-element password">
          <mat-label translate>sign-up.password</mat-label>
          <input matInput type="password" formControlName="password"/>
          <mat-error><span translate>sign-up.required-field-error</span></mat-error>
        </mat-form-field>

        <mat-form-field class="form-element repeatPassword">
          <mat-label translate>sign-up.repeat-password</mat-label>
          <input matInput type="password" formControlName="repeatPassword"/>
          <mat-error ><span translate> sign-up.password-mismatch</span></mat-error>
        </mat-form-field>
        <div class="field-row form-element">
          <mat-form-field class="first-name">
            <mat-label translate>sign-up.first-name</mat-label>
            <input matInput type="text" formControlName="name"/>
            <mat-error><span translate>sign-up.required-field-error</span></mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label translate>sign-up.last-name</mat-label>
            <input matInput type="text" formControlName="lastName"/>
            <mat-error><span translate>sign-up.required-field-error</span></mat-error>
          </mat-form-field>
        </div>

        <div class="field-row form-element">
          <mat-form-field class="phone">
              <mat-label translate>sign-up.phone</mat-label>
              <input matInput type="text" formControlName="contactNumber"/>
              <mat-error><span translate>sign-up.phone-number</span></mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label translate>sign-up.birthday</mat-label>
            <input matInput type="date" formControlName="birthdate"/>
            <mat-error><span translate>sign-up.birth-date-error</span></mat-error>
          </mat-form-field>
        </div>


        <mat-form-field class="form-element">
          <mat-label translate>sign-up.i-am-a</mat-label>
          <mat-select formControlName="role">
              <mat-option value="ROLE_GUEST"><span translate>sign-up.student</span></mat-option>
              <mat-option value="ROLE_HOST"><span translate>sign-up.host</span></mat-option>
          </mat-select>
          <mat-error><span translate>sign-up.required-field-error</span></mat-error>
        </mat-form-field>
        <div class="field-row form-element" *ngIf="isGuest">
          <mat-form-field>
            <mat-label translate>sign-up.university</mat-label>
            <mat-select formControlName="university">
              <mat-option *ngFor="let university of universities" [value]="university"> {{ university.name }}</mat-option>
            </mat-select>
            <mat-error><span translate>sign-up.required-field-error</span></mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label translate>sign-up.career</mat-label>
            <mat-select formControlName="career">
              <mat-option *ngFor="let career of careers" [value]="career"> {{ career.name }}</mat-option>
            </mat-select>
            <mat-error><span translate>sign-up.required-field-error</span></mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="form-element">
          <mat-label translate>sign-up.gender</mat-label>
          <mat-select formControlName="gender">
              <mat-option value="0"><span translate>sign-up.male</span></mat-option>
              <mat-option value="1"><span translate>sign-up.female</span></mat-option>
              <mat-option value="2"><span translate>sign-up.other</span></mat-option>
          </mat-select>
          <mat-error><span translate>sign-up.required-field-error</span></mat-error>
        </mat-form-field>

        <mat-form-field class="form-element bio">
          <mat-label translate>sign-up.bio</mat-label>
          <textarea class="bio-form" matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMinRows="7" formControlName="bio"></textarea>
          <mat-error><span translate>sign-up.required-field-error</span></mat-error>
        </mat-form-field>


        <mat-card-footer>
          <a (click)="navigateToLogIn()" style="float: right;padding-right: 16px" translate>
            sign-up.login-message
          </a>
        </mat-card-footer>

        <mat-card-actions>
          <button mat-raised-button color="primary" style="float: right;margin-right: 0px;margin-bottom: 0px;" type="submit" (click)="signUp()">
            <div [hidden]="!signing"><span translate>sign-up.signing-up</span><mat-spinner style="float: right" class="mySpinner"></mat-spinner></div>
            <span translate [hidden]="signing">sign-up.sign-up</span>
          </button>
        </mat-card-actions>

      </mat-card>
      </form>
      </mat-card-content>
    </mat-card>
  </div>
