<mat-card class="filter-menu">
    <form [formGroup]="filterForm">
        <mat-form-field>
            <mat-label translate>search-filters.property-type</mat-label>
            <mat-select formControlName="propertyType">
                <mat-option value="0"><span translate>search-filters.house</span></mat-option>
                <mat-option value="1"><span translate>search-filters.apartment</span></mat-option>
                <mat-option value="2"><span translate>search-filters.loft</span></mat-option>
            </mat-select>
            <mat-error>Error</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label translate>search-filters.neighborhood</mat-label>
            <mat-select formControlName="neighborhood">
                <div *ngFor="let neighborhood of neighborhoods">
                    <mat-option value="neighborhood.id">{{ neighborhood.name }}</mat-option>
                </div>
            </mat-select>
            <mat-error>Error</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label translate>search-filters.privacy</mat-label>
            <mat-select formControlName="privacy">
                <mat-option value="0"><span translate>search-filters.individual</span></mat-option>
                <mat-option value="1"><span translate>search-filters.shared</span></mat-option>
            </mat-select>
            <mat-error>Error</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label translate>search-filters.max-capacity</mat-label>
            <input matInput type="text" formControlName="maxCapacity"/>
            <mat-error>Error</mat-error>
        </mat-form-field>
        <p translate>search-filters.budget</p>
        <div class="form-row">
            <mat-form-field>
                <mat-label translate>search-filters.min-rent</mat-label>
                <input matInput matInput type="number" formControlName="minPrice"/>
                <mat-error>Error</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label translate>search-filters.max-rent</mat-label>
                <input matInput type="number" placeholder="Max" formControlName="maxPrice"/>
                <mat-error>Error</mat-error>
            </mat-form-field>
        </div>
        <mat-label translate>search-filters.rules</mat-label>
        <mat-form-field>
            <mat-label translate>search-filters.unspecified</mat-label>
            <mat-select formControlName="rules" multiple>
                <mat-option *ngFor="let rule of rules" [value]="rule.id">
                    {{rule.name}}
                </mat-option>
            </mat-select>
         </mat-form-field>
         <mat-label translate>Services</mat-label>
         <mat-form-field>
            <mat-label translate>search-filters.unspecified</mat-label>
            <mat-select formControlName="services" multiple>
                <mat-option *ngFor="let service of services" [value]="service.id">
                    {{service.name}}
                </mat-option>
            </mat-select>
         </mat-form-field>
    </form>
</mat-card>