<div *ngIf="proposal && currentUser" class="proposal-container">
  <mat-card class="proposal-card mat-elevation-z8">
    <img *ngIf="proposal.property?.mainImage" class="prop-img" alt="" [attr.src]="proposal.property.mainImage?.image " [ngClass]="(proposal.state == 'DECLINED' || proposal.state == 'CANCELED' || proposal.state == 'DROPPED') ? 'grayscale' : ''" >
    <mat-card-header>
      <mat-card-subtitle translate>proposal.proposal</mat-card-subtitle>
      <mat-card-title><a [routerLink]="['/property/' + proposal.property.id]">{{ proposal.property.description }}</a></mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin: 0 16px;">
      <div>
        <p>{{ proposal.property.caption }}</p>
      </div>
      <div>
        <app-proposal-users-table [reload]="reloadUsersTable" [proposalCreator]="proposal.creator" [proposalState]="proposal.state"></app-proposal-users-table>
      </div>
    </mat-card-content>
    <mat-card-content style="margin-top: 16px; text-align: center">
          <div *ngIf="proposal.state == 'DROPPED'">
             <div *ngIf="currentUser.role == 'ROLE_HOST'">
               <p translate>proposal.dropped-host</p>
             </div>
           <div *ngIf="currentUser.role == 'ROLE_GUEST'">
             <p translate>proposal.dropped</p>
             <a [routerLink]="''" translate>proposal.find-another-property</a>
           </div>
          </div>
          <div *ngIf="proposal.state == 'CANCELED'">
             <p translate>proposal.canceled</p>
             <a [routerLink]="''" translate>proposal.find-another-property</a>
          </div>
          <div *ngIf="proposal.state == 'DECLINED'">
            <div translate *ngIf="currentUser.role == 'ROLE_HOST'">
              <p translate>proposal.declined-host</p>
              <a [routerLink]="'/user/'+ currentUser.id" translate>proposal.find-another-proposal</a>
            </div>
            <div *ngIf="currentUser.role == 'ROLE_GUEST'">
              <p translate>proposal.declined</p>
              <a [routerLink]="''" translate>proposal.find-another-property</a>
            </div>
          </div>
          <div *ngIf="proposal.state == 'ACCEPTED'">
             <div translate *ngIf="currentUser.role == 'ROLE_HOST'">
               proposal.accepted-host
             </div>
             <div *ngIf="currentUser.role == 'ROLE_GUEST'">
               <p translate>proposal.accepted</p>
               <p><span translate>proposal.host-info</span> {{proposal.property.owner.name}} | {{proposal.property.owner.email}} | {{proposal.property.owner.contactNumber}}</p>
             </div>
          </div>
          <div translate *ngIf="proposal.state == 'SENT' && currentUser.role == 'ROLE_GUEST'">
            proposal.sent
          </div>
          <div *ngIf="proposal.state == 'SENT' && currentUser.role == 'ROLE_HOST'">
            <div  *ngIf="proposal.property.availability == 'RENTED' else active">
              <div translate>proposal.rented-host</div>
              <mat-card-actions>
                <button disabled mat-button mat-raised-button color="primary"><span translate>proposal.decline</span></button>
                <button disabled mat-button mat-raised-button color="accent"><span translate>proposal.accept</span></button>
              </mat-card-actions>
            </div>
            <ng-template #active>
              <div>
                <div translate>proposal.your-property</div>
                <mat-card-actions>
                  <button mat-button mat-raised-button color="primary" (click)="declineProposal()"><span translate>proposal.decline</span></button>
                  <button mat-button mat-raised-button color="accent" (click)="acceptProposal()"><span translate>proposal.accept</span></button>
                </mat-card-actions>
              </div>
            </ng-template>
          </div>
          <div *ngIf="proposal.state == 'PENDING' && currentUser.id == proposal.creator.id">
            <button mat-button mat-raised-button color="warn" (click)="cancelProposal()"><span translate>proposal.cancel</span></button>
          </div>
          <div *ngIf="proposal.state == 'PENDING' && isInvited == true && hasReplied == false">
            <div><span translate>proposal.you-would-pay</span> <b> ${{budget}} </b> <span translate>proposal.per-month</span></div>
            <mat-card-actions>
             <button mat-button mat-raised-button color="primary" (click)="declineProposal()"><span translate>proposal.decline</span></button>
             <button mat-button mat-raised-button color="accent" (click)="acceptProposal()"><span translate>proposal.accept</span></button>
            </mat-card-actions>
          </div>
          <div *ngIf="proposal.state == 'PENDING' && isInvited == true && hasReplied == true">
            <span translate>proposal.already-replied</span>
          </div>
    </mat-card-content>
  </mat-card>
</div>

