<div *ngIf="proposals" class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <div *ngIf="userRole == 'ROLE_GUEST'; else host">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Proposals</th>
        <td mat-cell *matCellDef="let proposal">{{proposal.proposal.property.description}}</td>
      </ng-container>

      <!-- Ownership Column -->
      <ng-container matColumnDef="ownership">
        <th mat-header-cell class="state" *matHeaderCellDef>Creator</th>
        <td mat-cell class="state" *matCellDef="let proposal">
          <div *ngIf="proposal.proposal.creator.id == userId"><mat-icon class="state-icon">star_outline</mat-icon></div>
        </td>
      </ng-container>
    </div>

    <ng-template #host>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Proposals</th>
        <td mat-cell *matCellDef="let proposal">
          <div style="display: flex;flex-flow: row">
            <div>{{proposal.property.description}}</div>
            <div style="padding-left: 4px; color:dimgrey;font-style: italic" *ngFor="let userProposal of proposal.userProposals">| {{userProposal.user.name}}</div>
          </div>
        </td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="ownership">
        <th mat-header-cell class="state" *matHeaderCellDef>State</th>
        <td mat-cell class="state" *matCellDef="let proposal">
          <div *ngIf="proposal.state == 'SENT'">
            <span style="color: darkorange;"><mat-icon>schedule</mat-icon></span>
          </div>
          <div *ngIf="proposal.state == 'ACCEPTED'">
            <span style="color: green;"><mat-icon>check</mat-icon></span>
          </div>
          <div *ngIf="proposal.state == 'DECLINED'">
            <span style="color: firebrick;"><mat-icon>clear</mat-icon></span>
          </div>
          <div *ngIf="proposal.state == 'DROPPED'">
            <span style="color: dimgrey;"><mat-icon>block</mat-icon></span>
          </div>
  <!--        This states we no longer use-->
  <!--        <div *ngIf="proposal.state == 'CANCELLED'">-->
  <!--          <span style="color: dimgrey;"><mat-icon>block</mat-icon></span>-->
  <!--        </div>-->
  <!--        <div *ngIf="proposal.state == 'PENDING'">-->
  <!--          <span style="color: dimgrey;"><mat-icon>block</mat-icon></span>-->
  <!--        </div>-->
        </td>
      </ng-container>
    </ng-template>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
