<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Proposals</th>
      <td mat-cell *matCellDef="let proposal">{{proposal.name}}</td>
    </ng-container>

    <div *ngIf="userRole == 'guest'; else host">
    <!-- Ownership Column -->
    <ng-container matColumnDef="ownership">
      <th mat-header-cell class="state" *matHeaderCellDef>Creator</th>
      <td mat-cell class="state" *matCellDef="let proposal">
        <div *ngIf="proposal.creator.id == userId"><mat-icon>star_outline</mat-icon></div>
      </td>
    </ng-container>
    </div>


    <!-- State Column -->
    <ng-template #host>
    <ng-container matColumnDef="ownership">
      <th mat-header-cell class="state" *matHeaderCellDef>State</th>
      <td mat-cell class="state" *matCellDef="let proposal">
        <div *ngIf="proposal.state == 'sent'">
          <span style="color: darkorange;"><mat-icon>schedule</mat-icon></span>
        </div>
        <div *ngIf="proposal.state == 'accepted'">
          <span style="color: green;"><mat-icon>check</mat-icon></span>
        </div>
        <div *ngIf="proposal.state == 'declined'">
          <span style="color: firebrick;"><mat-icon>clear</mat-icon></span>
        </div>
        <div *ngIf="proposal.state == 'dropped'">
          <span style="color: dimgrey;"><mat-icon>block</mat-icon></span>
        </div>
      </td>
    </ng-container>
    </ng-template>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
