:host {
  width: 100%;
  margin-top: 1rem;
}

table {
  width: 100%;
}

.mat-row:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.state {
  width: 15%;
  text-align: center;
  padding-right: 2px!important;
}

.state-icon {
  vertical-align: middle;
}
