:host{
  font-size: 15px;
}

::ng-deep .wide-form-field {
  width: 100%;
}

.filter-menu{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

mat-form-field{
  display:flex;
}

::ng-deep .mat-form-field-wrapper {
  width: 100% !important;
}

p {
  margin: 0 !important;
}
