:host{
  font-size: 15px;
}

.filter-menu{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

mat-form-field{
  display:flex;
}

.mat-form-field-wrapper {
  width: 95%;
}

p {
  margin: 0 !important;
}