<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell translate *matHeaderCellDef>properties-table.properties</th>
      <td mat-cell *matCellDef="let property">{{property.description}}</td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell translate class="state" *matHeaderCellDef>properties-table.state</th>
      <td mat-cell class="state" *matCellDef="let property">
        <div *ngIf="property.availability == 'AVAILABLE'; else unavailable">
          <span translate style="color: green;">properties-table.active</span>
        </div>
        <ng-template #unavailable>
          <span translate style="color: firebrick;">properties-table.inactive</span>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/property/' + row.id]"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
