:host {
  width: 100%;
  margin-top: 1rem;
}

table {
  width: 100%;
}

.mat-row:hover {
  background-color: gainsboro;
}

.state {
  padding-right: 2px!important;
  width: 15%;
  text-align: center;
}


