<h1 mat-dialog-title translate>create-proposal-modal.create-proposal</h1>
<div mat-dialog-content>
  <p translate>create-proposal-modal.select-up-to<b>{{data.property.capacity - 1}}</b>create-proposal-modal.other-students</p>
  <p translate>create-proposal-modal.warning-limit</p>
  <div *ngIf="data.interestedUsers.length != 0 else noInterestedUsers">
  <mat-selection-list #users [(ngModel)]="selectedOptions" (ngModelChange)="onNgModelChange($event)">
    <mat-list-option #user checkboxPosition="before" *ngFor="let user of data.interestedUsers" [value]="user">
      <div style="display: flex;flex-flow: row;justify-content: space-between;margin-top: 10px" role="listitem">
        <div style="margin-left: 6px">
          {{user.name}}
          <p style="margin-bottom: 8px;"><em><small>{{user.university.name}} - {{ageFromDateOfBirthday(user.birthDate)}} - {{user.gender.toString().toLowerCase()}}</small></em></p>
        </div>
        <div style="align-self: center">
          <a [routerLink]="['/user/' + user.id]" [mat-dialog-close]="true" translate>create-proposal-modal.view-profile</a>
        </div>
      </div>
    </mat-list-option>
  </mat-selection-list>
  <p *ngIf="showErrorMaxGuests" style="margin-top: 16px;color: firebrick" translate>create-proposal-modal.you-have-already-selected<b>{{users.selectedOptions.selected.length}}</b>create-proposal-modal.other-students-selected-max</p>
  <p *ngIf="!showErrorMaxGuests" style="margin-top: 16px" translate>create-proposal-modal.you-have-selected<b>{{users.selectedOptions.selected.length}}</b>create-proposal-modal.other-students-selected</p>
  <p translate>create-proposal-modal.each-student-will-be-paying<b>${{getPricePerPerson(users.selectedOptions.selected.length + 1).toFixed(2)}}</b><b translate> create-proposal-modal.month</b>.</p>
  </div>
  <ng-template #noInterestedUsers>
    <p translate>
      create-proposal-modal.no-other-students-are-interested
    </p>
  </ng-template>
</div>
<div mat-dialog-actions style="float: right;">
    <button mat-raised-button mat-dialog-close><span translate>create-proposal-modal.close</span></button>
    <button mat-raised-button mat-dialog-close (click)="createProposal()" color="primary"><span translate>create-proposal-modal.create</span></button>
</div>
