.login-card{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.register-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

a {
  color: #007bff !important;
  cursor: pointer;
}
//
//.login-container{
//    display: flex;
//    flex-flow: column;
//}
//
//.login-title{
//    display: flex;
//    justify-content: left;
//    font-size: 2rem;
//}
//
//.login-submit-btn{
//    float: right;
//}
//
//.form-container{
//    font-size: 1rem;
//    margin: 16px 12px 8px 0px;
//}
:host ::ng-deep .mySpinner{
  margin-top: 6px;
  margin-left: 8px;
  margin-bottom: 4px;
  width: 25px !important;
  height: 25px !important;
  svg {
    width: 25px !important;
    height: 25px !important;
  }
}

:host ::ng-deep .mySpinner circle {
  stroke: white;
}
