<div *ngIf="user" class="user-info mat-elevation-z6">
        <div>
          <h1 class="user-title">{{ user.name }} {{ user.lastName }}</h1>
        </div>
        <div class="user-description">
          <div *ngIf="user.role == 'ROLE_GUEST'"><p class="user-details"><mat-icon class="icon">school</mat-icon>{{ user.university.name }}</p></div>
          <p class="user-details"><mat-icon class="icon">cake</mat-icon>{{ date(user.birthDate) }}</p>
        </div>
</div>
<div *ngIf="user; else spinner" class="user-bio">
  <mat-card class="user-bio-card mat-elevation-z8">
    <mat-card-subtitle translate>profile.bio</mat-card-subtitle>
    <mat-card-content>
      <p>{{ user.bio }}</p>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #spinner><mat-spinner style="position: relative; margin-top:30rem; margin-left: 50%; margin-right: 50%;"></mat-spinner></ng-template>
<div *ngIf="user" class="user-properties">
<!--  ?.id == currentUser?.id-->
  <div *ngIf="user.role == 'ROLE_GUEST'; then guestRole else hostRole"></div>
  <ng-template #guestRole>
    <app-interests-table id="left-table"></app-interests-table>
    <app-proposals-table id="right-table" [userRole]="user.role"></app-proposals-table>
  </ng-template>
  <ng-template #hostRole>
    <app-properties-table id="left-table"></app-properties-table>
    <app-proposals-table id="right-table" [userRole]="user.role"></app-proposals-table>
  </ng-template>
</div>
